# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
/tmp/
kaggle.json

# Keep these folders tracked
!dashboard/assets/*.png
!results/*.csv
!results/*.json
!dashboard/*.keras

# Modal
.modal.toml



# Data
training.*.csv
sentiment140.zip
*.processed.noemoticon.csv

# Logs
*.log
